@model VehicleAppMVC.Models.Cost

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Cost</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Vehicle.VehicleRegistrationNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vehicle.VehicleRegistrationNumber)
        </dd>
    
        <dt>
            @Html.DisplayNameFor(model => model.CostTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CostTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CostDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CostDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CostOdometerMileage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CostOdometerMileage)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CostRunningCost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CostRunningCost)
        </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CostTotalRunningCost)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CostTotalRunningCost)
            </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
