@model VehicleAppMVC.Models.Cost

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Cost</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Vehicle.VehicleRegistrationNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vehicle.VehicleRegistrationNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CostTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CostTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CostDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CostDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CostOdometerMileage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CostOdometerMileage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CostRunningCost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CostRunningCost)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CostTotalRunningCost)
        </dt>
    
        <dd>
             @Html.DisplayFor(model => model.CostTotalRunningCost)
    	</dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CostID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
