@model IEnumerable<VehicleAppMVC.Models.Cost>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Vehicle.VehicleRegistrationNumber)      @*CG: Edited*@
            @*@Html.DisplayNameFor(model => model.Vehicle.ApplicationUserId)*@
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CostTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CostDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CostOdometerMileage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CostRunningCost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CostStartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CostEndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CostTotalRunningCost)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Vehicle.VehicleRegistrationNumber)       @*CG: Edited*@
            @*@Html.DisplayFor(modelItem => item.Vehicle.ApplicationUserId)*@
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CostTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CostDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CostOdometerMileage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CostRunningCost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CostStartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CostEndDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CostTotalRunningCost)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CostID }) |
            @Html.ActionLink("Details", "Details", new { id=item.CostID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CostID })
        </td>
    </tr>
}

</table>
