@model IEnumerable<VehicleAppMVC.Models.Vehicle>

<table class="table-condensed" width="250" align="right" style="background-color :lightslategray">
    <tr>
        <th>
            Vehicle Units
        </th>
    </tr>
    <tr>
        <th>
            Currency
        </th>
        <th>
            @(@Model.FirstOrDefault() == null ? "" : @Model.Select(x => x.Consumption[0]).FirstOrDefault().ToString())
        </th>
    </tr>
    <tr>
        <th>
            Distance:
        </th>
        <th>
            @(@Model.FirstOrDefault() == null ? "" : @Model.Select(x => x.Consumption[1]).FirstOrDefault().ToString())
        </th>
    </tr>
    <tr>
        <th>
            Volume:
        </th>
        <th>
            @(@Model.FirstOrDefault() == null ? "" : @Model.Select(x => x.Consumption[2]).FirstOrDefault().ToString())        </th>
    </tr>
    <tr>
        <th>
            Consumption:
        </th>
        <th>
            @(@Model.FirstOrDefault() == null ? "" : @Model.Select(x => x.Consumption[3]).FirstOrDefault().ToString())        
        </th>
    </tr>
    <tr></tr>
</table>


@{
    ViewBag.Title = "Vehicle List";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Add Vehicle", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ApplicationUser)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VehicleMake)  
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VehicleModel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VehicleRegistrationNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VehicleOdometerMileage)
            @(@Model.FirstOrDefault() == null ? "" : @Model.Select(x => x.Consumption[1]).FirstOrDefault().ToString())
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SettingFuelType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApplicationUser.VehicleUnit)
        </th>
        
@*
        <th>
            @Html.DisplayNameFor(model => model.SettingDistance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SettingVolume)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SettingConsumption)
        </th>
*@

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ApplicationUser.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VehicleMake)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VehicleModel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VehicleRegistrationNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VehicleOdometerMileage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SettingFuelType)
        </td>
@*
        <td>
            @Html.DisplayFor(modelItem => item.Consumption)
        </td>
*@


@* Colm testing the units*@
  @*
    @Model.Select(x => x.Consumption[0]).FirstOrDefault().ToString()
    @Model.Select(x => x.Consumption[1]).FirstOrDefault().ToString()
    @Model.Select(x => x.Consumption[2]).FirstOrDefault().ToString()
    @Model.Select(x => x.Consumption[3]).FirstOrDefault().ToString()


    <th>
        @Html.ValueFor(modelItem => item.Consumption[0])
    </th>
    <th>
        @Html.ValueFor(modelItem => item.Consumption[1])
    </th>
    <th>
        @Html.ValueFor(modelItem => item.Consumption[2])
    </th>
    <th>
        @Html.ValueFor(modelItem => item.Consumption[3])
    </th>
*@
        

        @*
    <th>
        @Html.ValueFor(modelItem => item.Consumption.currency)
    </th>
        *@

@*
    <td>
        @Html.DisplayFor(modelItem => item.SettingDistance)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.SettingVolume)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.SettingConsumption)
    </td>
*@
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.VehicleID }) |
            @Html.ActionLink("Details", "Details", new { id=item.VehicleID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.VehicleID })
        </td>
    </tr>
}


</table>
