@model IEnumerable<VehicleAppMVC.Models.Fuel>

@{
    ViewBag.Title = "Fuel-fill Log";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Add Fuel-fill", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Vehicle.VehicleRegistrationNumber)      @*CG: Edited*@
            @*@Html.DisplayNameFor(model => model.Vehicle.ApplicationUserId)*@
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FuelDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FuelOdometerMileage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FuelQuantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FuelUnitPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FuelPartialFill)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FuelConsumption)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FuelCost)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Vehicle.VehicleRegistrationNumber)       @*CG: Edited*@
            @*@Html.DisplayFor(modelItem => item.Vehicle.ApplicationUserId)*@
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FuelDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FuelOdometerMileage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FuelQuantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FuelUnitPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FuelPartialFill)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FuelConsumption)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FuelCost)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.FuelID }) |
            @Html.ActionLink("Details", "Details", new { id=item.FuelID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.FuelID })
        </td>
    </tr>
}

</table>

@Html.DisplayNameFor(model => model.FuelTotalFuelCost)

@Model.Sum(x => x.FuelCost)